.navbar-brand img {
  width: 20px;
  background: #ffffff;
  border-radius: 10px;  
}

.navbar {
  border-radius: 0px;
}

body {
  background: #000000;
}

.coin-card {
  text-align: center;
  background: #ecf0f1;
}

.coin-card .glyphicon-chevron-up {
  color: #2ecc71;
}

.coin-card .glyphicon-chevron-down {
  color: #e74c3c;
}

.coin-card .glyphicon-minus {
  color: #3498db;
}

.coin-card img {
  width: 50px;
}

.new-coin {
  background: #0000;
  font-size: 15px;
  color: #2ecc71;
  padding: 30px;
  border: #2ecc71 1px dotted;
}

.new-coin input, .new-coin select {
  background: transparent;
  border: #2ecc71 1px dotted;
  width: 90px!important;  
  margin-bottom: 3px;
}

.new-coin span {
  padding: 4px;
}

.new-coin .btn {
  margin: 20px;
  background: transparent;
  color: #2ecc71;
  border: #2ecc71 1px solid;  
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}